$red-color: #ec1c23;
$white-color: #fff;
$grey-label-color: #f2f2f2;
$black-color: #333;

$bp-desktop-min: 1024px;
$bp-tablet-min: 768px;
$bp-phone-landscape-min: 568px;
$bp-phone-small-max: 374px;

$screen-xs-max: 575px;
$screen-sm-max: 768px;
$screen-md-max: 1087px;
$screen-lg-max: 1279px;
$screen-xl-max: 1471px;
$screen-xl-min: 1472px;
